@page "/counter"


<PageTitle>analytics now| get started</PageTitle>

<h1>get started</h1>
<!DOCTYPE html>
<p>if it is saying it is not safe it is just because it is mailing to us via a browser so if it gives you a notice just click send any  ways and then also you feel unsafe you can try method 2 it is the safest method</p>
<html>
    
<body>
    <h2>method 1</h2>
    <form action="mailto:rakeshagra0311@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <div class="form__group field">
            <input typeo="input" type="text" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">Name</label>
        </div>
        <br>
        website url:
         <div class="form__group field">
            <input typee="input" type="text" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">your webiste url</label>
        </div>
        <br>
        you'r email:<br>
                <div class="form__group field">
            <input typex="input" type="text" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">your'r email'</label>
        </div>
        <br>
        <input type="submit" class="bn5"value="Send">
    </form>
</body>
</html>
<p>method 2</p>
<p><a href="https://www.fiverr.com/share/Ao5EbB" class="bn5">fiver</a></p>


