.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

    .bn5:before {
        content: "";
        background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowingbn5 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn5:active {
    color: #000;
}

    .bn5:active:after {
        background: transparent;
    }

.bn5:hover:before {
    opacity: 1;
}

.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

$primary: #0077FF
$dark: #000
*
box-sizing: border-box

.inp
position: relative
margin: auto
width: 100%
max-width: 280px
border-radius: 3px
overflow: hidden

.label
position: absolute
top: 20px
left: 12px
font-size: 16px
color: rgba($dark,.5)
font-weight: 500
transform-origin: 0 0
transform: translate3d(0,0,0)
transition: all .2s ease
pointer-events: none

.focus-bg
position: absolute
top: 0
left: 0
width: 100%
height: 100%
background: rgba($dark,.05)
z-index: -1
transform: scaleX(0)
transform-origin: left

input
-webkit-appearance: none
appearance: none
width: 100%
border: 0
font-family: inherit
padding: 16px 12px 0 12px
height: 56px
font-size: 16px
font-weight: 400
background: rgba($dark,.02)
box-shadow: inset 0 -1px 0 rgba($dark,.3)
color: $dark
transition: all .15s ease

&:hover
background: rgba($dark,.04)
box-shadow: inset 0 -1px 0 rgba($dark,.5)

&:not(:placeholder-shown) + .label
color: rgba($dark,.5)
transform: translate3d(0,-12px,0) scale(.75)

&:focus
background: rgba($dark,.05)
outline: none
box-shadow: inset 0 -2px 0 $primary + .label
color: $primary
transform: translate3d(0,-12px,0) scale(.75) + .focus-bg
transform: scaleX(1)
transition: all .1s ease

h1 {
    text-align: center;
}

p {
    text-align: left;
}

div {
    text-align: center;
}