@page "/"

<PageTitle>Index</PageTitle>

<h1>welcome</h1>
<p>tired of trying to get analytics well no more get all important analytics daily of your website</p
    <p>to get started you need to follow two steps</p>
    <p> method 1</p>
    <p1>
       
        step1: go to get started and fill the form and click analytics now
    </p1>
    <p>
        step2:wait for a email and we will instruct how to set up analytics now
        
    </p>
    <p> method 2</p>
    <p1>
       
        step1: go to get started and click method 2 and click analytics now

    </p1>
     <p>
        step2:follow the instructions given
        
    </p>
    <p><a href="/counter" class="bn5">get started</a></p>


